.home-page {
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  text-align: center;
  background: linear-gradient(232deg, #a570ca 0%, #3bab79 100%);
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 80px;
}

.project-container-home {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.project-box-home {
  margin: 20px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box-home:hover {
  transform: scale(1.07); /* grows by 7% */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.658); /* adds a soft lift effect */
}

.project-image-home img {
  width: 300px;
  height: 250px;
  background-size: fill;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}
.project-names-home {
  text-align: center;
  background: linear-gradient(26deg, #70c3cae0 0%, #3bab4c94 100%);
  padding: 10px;
  margin-top: -5px;
  font-weight: 600;
}

.project-box-home:hover {
  background-color: rgb(0, 255, 251) !important;
  color: black;
}
.home-button {
  position: absolute;
  left: 0;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: #87ff7f;
  cursor: pointer;
}

.fe-header {
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 800;
}

@media (max-width: 480px) {
  .home-button {
    display: none;
  }
}
