.project-container-home {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-top: 100px;
}
.project-box-home {
  margin: 20px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box-home:hover {
  transform: scale(1.07); /* grows by 7% */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.658); /* adds a soft lift effect */
}


.project-image-home img {
  width: 300px;
  height: 250px;
  background-size: fill;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}
.project-names-home{
    text-align: center;
    background: linear-gradient(26deg, #70c3cae0 0%, #3bab4c94 100%);
    padding: 10px;
    margin-top: -5px;
    font-weight: 600;
}

.project-box-home:hover {
  background-color: rgb(0, 255, 251) !important;
  color: black;
}
