.accordian-class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.accordian-container {
  width: 500px;
  display: block;
}
.accordian-title {
  padding: 15px;
  background-color: rgba(80, 156, 218, 0.59);
  cursor: pointer;
  border-radius: 10px;
}
.accordian-subject {
  padding: 15px;
  background-color: rgba(70, 213, 223, 0.384);
  border-radius: 10px;
}
.accordian-container {
  padding: 5px;
}
