.chess-board {
  display: grid;
  grid-template-rows: repeat(8, 50px);
  grid-template-columns: repeat(8, 50px);
  border: 2px solid black;
  height: 400px;
  width: 400px;
  margin: auto;
}

.chess-box {
  cursor: pointer;
}

.dark {
  background-color: black;
}

.light {
  background-color: white;
}

.red {
  background-color: red !important;
}
