.image-items {
  width: 100px;
  height: 100px;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.product-box {
  border: 1px solid black;
  width: 150px;
  overflow: hidden;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  /* overflow-x: scroll; */
}
.page-box {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.341);
  margin: 5px;
  cursor: pointer;
}

.page-box:hover {
  background-color: aquamarine !important;
}

.active {
  background-color: aqua !important;
}
.loading-text {
  padding: 15px;
}
