.App {
  font-family: sans-serif;
  text-align: center;
}
.back {
  text-align: left;
  margin: 10px;
  border: 2px solid red;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  display: inline-block;
}
