.progress-bar-container {
  background-color: rgb(135, 162, 162);
  border-radius: 10px;
  overflow: hidden;
  width: 98%;
}

.input-text-conatiner {
  padding: 10px;
  width: 98%;
}

.data-container {
  padding: 10px;
  text-align: left;
  max-height: 300px;
  overflow-y: scroll;
}

.progress-data {
  padding: 10px 20px;
  background-color: rgba(119, 212, 133, 0.471);
  margin: 5px;
  border-radius: 5px;
  text-align: left;
}

.progress-bar-fill {
  padding: 10px 0px;
  height: 100%;
  /* width: 70%; */
  background: rgb(31, 120, 7);
  transition: 0.5s ease-in-out;
}
